#topo1 {
    border-bottom: 1px solid;
}

#pedido {
    background-color: white;
    overflow: auto;
    height: 330px;
}

#base {
    height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#menu_lat {
    overflow: auto;
    height: 330px;
    color: black;
    font-size: 20px;
    overflow: hidden;
    
}

#menu_lat * {
    cursor: pointer;
    list-style: none;
}

.menu_lat_li:hover {
    opacity: 80%;
}

#labels {
    justify-content: space-around;
    border-bottom: 2px solid #eee;
    padding: 15px 0;
    font-size: 1rem;
}

label {
    margin: 0;
}

h5 {
    justify-content: space-around;
}

#menu_lat li:hover span {
    margin-left: 20px;
}

#menu_lat li span {
    transition: all 0.5s;
}

#menu_lat li{
    padding: 10px 0;
    border-bottom: 1px solid;
}

@media(max-width:555px){
    #labels{
        font-size: 0.8rem;
    }

    #menu_lat{
        font-size: 0.8rem;
    }
}

@media(max-width:450px){
    #labels{
        font-size: 0.7rem;
    }

    #menu_lat{
        font-size: 0.6rem;
    }
}