/* h1 {
  color: #ffffff;
} */

#teste-botao1 {
  background-color: #0f9d55;;
  color: #ffffff;
  border-radius: 5px;
  margin: 20px 0;
}

#formularioCadastro {
  border-radius: 30px;
  background-color: rgba(112, 107, 107, 0.589);
  justify-content: space-between;
  margin: 20px 0;
}

#container3,#container4{
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 25px 0;
  width: 100%;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cinza {
  background-color: #3d3c3c;
}

.error {
  display: none;
}


@media(max-width: 780px){

.cadastro_caixas{
    flex-direction: column;
  }
  #teste-botao1{
    font-size: 1rem;
    transition: 1s;
  }
  .topo_texto_cad{
    font-size: 2rem;
    transition: 1s;
  }
}

