h1 {
    color: #ffffff;
}

#formulario {
    border-radius: 30px;
    background-color: rgba(219, 212, 212, 0.589);
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 50px;
}

#container1,
#container2 {
    background-color: #660033;
    color: white;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
    height: 250px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.imagem_centro {
    min-width: 100%;
    min-height: 42%;
}

.form-group input {
    border-radius: 20px;
}

.form-control {
    border-radius: 20px;
}
/* 
.container {
    margin-top: 50px;
    margin-bottom: 50px;
} */