.text-login {
    font-weight: bold;
}

#container1, #container2 {
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    margin: 20px 0;
    height: 300px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}


#login{
    margin-right: 10%;
}

.eye_icon{
    background-image: url(/img/eye_show.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}


@media (max-width:768px) {
    #imgtaca{
        display: none;
    }
}

@media (max-width:991px) {
    #imgtaca{
        size: 25%;
    }
}


