.text-login {
    font-weight: bold;
}

#container1, #container2 {
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    margin: 20px 0;
    height: 270px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

