header {
    color: white;
    background-color: #000;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
}

.icons {
    max-height: 20px;
}

.logo {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #fff;
}

.logotipo {
    width: 1000px;
    height: 50px;
    background-image: url(/img/desvinho_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    margin-left: 25%;
}

#logolink{
    text-decoration: none;
}

.icons {
    max-height: 30px;
}

.acoes {
    position: absolute;
    right: 0;
    justify-content: center;
}

.acoes * {
    margin: 5px;
}

.testando{
    margin-top: 10px;
}

.logoUser {
    width: 30px;
    height: 50px;
    background-image: url(/img/user_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    padding: 0;
    margin-top: 10;
}

.logoCar {
    width: 50px;
    height: 50px;
    background-image: url(/img/cart_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    padding: 0;
    margin: 0;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #fff;
}


/* style={{color: + '#ffffff'}} */

.btn_cart {
    width: 100px;
}

.btn_cart:hover {
    opacity: 80%;
}

.btn_login:hover {
    opacity: 80%;
}

.btn_login{
    color: white;
}


 @media (max-width:575px) {
    header{
      flex: auto;
    }
    #botao_tela_menor {
      background-color: #3a4147;
      color: white;
      display: inline-block;
    }
    .logotipo{
        margin-left: 0;
        margin-bottom: 40px;
    }
    .logo{
        display: block;
    }
    .logoUser{
        margin-top: 55px;
    }
    .logoCar{
        margin-top: 50px;
    }
    .text_user{
        padding: 0;
        margin-top: 50px;
    }
    .testando{
        margin-top: 55px;
    }

}

@media (max-width:300px){
    .logotipo{
        background-size: 150px;
    }
}