footer {
    color: white;
    background-color: #660033;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
}

.Footer {
    justify-content: space-around;
    padding: 10px;
}

.Footer *,
.copyright {
    text-align: center;
    margin: 10px;
}