.color_text{
    color: white;
    text-align: center;
}

.list_members{
    list-style-type: none;
    color: white;
}

#sobre_container {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color:black;
    border-radius: 10px;
    border-style: solid;
    border-color: black
}