.products {
  margin: 20px 0;
}

.header-products {
    color: #000;
    text-align: center;
    flex-direction: row;
    text-transform: uppercase;
    margin: 0 50px 10px 50px;
    border-bottom: 1px solid ;
}
