.imagem {
  max-width: 60px;
}

.btn_remove_cart{
  width: 50px;
  height: 50px;
}

.quantity {
  width: 30px;
}

.btn {
  font-weight: bold;
  text-align: unset;
}

.icon_remove_cart{
    width: 25px;
    height: 25px;
    background-image: url(/img/x_remove_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

@media(max-width:480px){
  .all{
    font-size: 1rem;
  }
}