.color_back {
  background-color: #3d3c3c;
}

.flex-container {
  background-color: rgb(200, 207, 214);
}

.content-enter {
  background-color: #fff;
  height: 516px;
}

/* cont_compr */
.btcc {
  background-color: #660033;
  border-color: #660033;
  color: #fff;
}

.radius {
  border-radius: 20px;
}

/* final_comp */
.btcc:hover {
  background-color: #963465;
  color: #fff;
} 