#container {
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.text_top {
  color: #ffffff;
}

#topo {
  color: black;
}

#topo * {
  font-size: 16px;
}

.carrinho {
  overflow: auto;
  height: 300px;
}

.base {

  height: 150px;

}

.card {
  width: 80px;
  height: 80px;
}

#nomeProduto {
  text-align: center;
  margin-top: 40px;
}

.quant_select {
  margin-top: 10px;
}

.valortotal {
  font-size: 20px;
}

.valor-unit {
  border: none;
  border-color: white;
  background-color: transparent;
  margin-top: 15px;
}

.valortotal::placeholder {
  color: white;
  text-align: left;
}

::placeholder {
  color: black;
  text-align: center;
}

.cinza {
  background-color: #3d3c3c;
}

.subtotalproduto {
  border: none;
  border-color: white;
  background-color: transparent;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 24px;
  font-weight: bold;
}