body {
  background-color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.radius {
  border-radius: 5px;
}

/* cont_compr */

.btcc {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

/* final_comp */

.btcc:hover {
  background-color: #eee;
  color: #000;
  border-color: #000;
}

.btn-review {
  flex-direction: column;
}

.btn-finalizar {
  background-color: #0db861;
  padding: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.none {
  display: none;
}

.noPrevs {
  z-index: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.load, .resetPassword {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.load, .loader, .spin, .resetPassword {
  z-index: 3;
}

.loader {
  user-select: none;
  position: absolute;
  color: white;
}

.btn-success {
  padding: 12px 30px;
  color: white;
  background-color: #0db861;
  border-radius: 3px;
  text-align: center;
}

.btn-success:hover {
  background-color: #0f9d55;
}

.spin {
  width: 100px;
  height: 100px;
  border-radius: 50vh;
  border-top: 5px solid white;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}