.dropdown:hover>.dropdown-menu {
  display: block;
  position: absolute;
  z-index: 9000;
  cursor: pointer;
}
.dropdown-menu li {
  padding-top: 10px;
  color: #000;
  border-bottom:1px solid ;
}

.dropdown-item {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
}

.dropdown-item:hover {
  margin-left: 20px;
}

.dropdown-menu li:last-child {
  border-bottom:none ;
  padding-bottom: 10px;
}

.dropdown-menu {
  background-color: #fff;
  position: relative;
  border: 1px solid;
  color: #000;
  min-width: 250px;
  padding: 0px 30px;
  top: 40px;
}

#botao_tela_menor {
  width: 20%;
  display: none;
}

.lupa_icon {
  background-image: url(/img/lupa_icon.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 40px;
  background-color: #000;
}

.btn_lupa:hover {
  opacity: 0,7%;
}

.loader, .spin {
  z-index: 3;
  opacity: 1;
}

.overlay-pesquisa, .resultado-pesquisa, .load-pesquisa {
  width: 250px;
  height: 100px;
  position: absolute;
  right: 5%;
  top: 80%;
  border-radius: 20px;
}

.overlay-pesquisa {
  z-index: 2;
  background-color: black;
  opacity: 0.5;
}

.resultado-pesquisa {
  z-index: 1;
  background-color: #fff;
  height: auto;
}
#navbarSupportedContent {
  border-bottom: 1px solid;
  padding: 0.5rem 1rem;
  margin: 0 14px 0 0px;
}

.navbar {
  padding: 0;
}

.navbar-nav .nav-link {
  color: black;
}

@media (max-width:991px) {
  #barraNav {
    display: none;
  }
  #botao_tela_menor {
    background-color: #3a4147;
    color: white;
    display: inline-block;
  }
}