.product {
  flex-direction: column;
  margin: 20px 10px;
}

.image-product {
  background-color: #fff;
  width: 150px;
}

.image-product *{
  max-height: 140px;
}

.header-product {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.buy-product {
  padding: 4px 10px;
  color: white;
  background-color: green;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
}

.buy-product:hover {
  color: green;
  background-color: #fff;
  border: 1px solid green;
}

.price-line {
  text-decoration: line-through;
  text-decoration-color: #ffd900ad;
  color: #b3b5c4;
}

.price-product{
  color: white;
}

.filter {
  color: #fff;
} 