.product {
  flex-direction: column;
  margin: 20px 10px;
}

.image-product {
  background-color: #fff;
  width: 150px;
}

.image-product *{
  max-height: 140px;
}

.header-product {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.buy-product {
  padding: 12px 30px;
  color: white;
  background-color: #0db861;
  border-radius: 3px;
  text-align: center;
}

.price-line ~ label {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.buy-product:hover {
  background-color: #0f9d55;
}

.price-line {
  text-decoration: line-through;
  color: #b3b5c4;
}

.price-product{
  color: white;
  margin-bottom: 20px;
}

.filter {
  color: #fff;
} 
