article {
    width: 65%;
    color: white;
}
.card {
    height: 350px;
}

.style_card{
    width: 100%;
}

.imageProduct {
    max-width: 260px;
    max-height: 308px;
}

.btn_lg{
    height: 50px;
    width: 200px;
}

.id_style{
    font-size: 20px;
}
.valor{
    font-size:20px;
}

#sectionproduto{
    color: black;
}

hr {
    background-color: black;
}

strike {
    color: darkgrey;
}

#comprar {
    float: right;
    font-size: 1rem;
}

#comprar>a{
    text-align: center;
    font-size: 1rem;
}

#voltar>a{
    text-align: center;
}

#botao {
    border-radius: 20px;
}

#sectionproduto {
    margin: 100px 0;
}

@media(max-width:768px){
    .btn_desc_prod{
        flex-direction: column-reverse;
    }
}

