article {
    width: 65%;
    color: white;
}
.card {
    height: 350px;
}

.style_card{
    width: 100%;
}

.imageProduct {
    max-width: 260px;
    max-height: 308px;
}

.id_style{
    font-size: 20px;
}
.valor{
    font-size:20px;
}

hr {
    background-color: black;
}

strike {
    color: darkgrey;
}

#comprar {
    float: right;
}

#botao {
    border-radius: 20px;
}

#sectionproduto {
    margin: 100px 0;
}

